In [1]:
2390 + 2390

4780

In [2]:
231 - 2390

-2159

In [3]:
2312 * 239

552568

In [4]:
10 / 3

3.3333333333333335

In [5]:
10 // 3 # floor division

3

In [6]:
10 ** 3

1000

In [7]:
10 % 3 - 120 * 5

-599

In [12]:
name = "Zaid kamil"
age = 31
can_vote = True

In [17]:
a = 5
a += 50
a -= 10

comparison operators

In [23]:
a, b = 10, 31
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False

logical operators
`and` `or` `not`

In [31]:
x = 'apple'
y = 'cherry'
print(x == 'apple' and x == y)
print(x == 'apple' and x != y)
print(x == 'apple' or x == y)
print(not x == 'apple')

False
True
True
False

In [32]:
fruits = ['mango','apple','cherry','banana','orange','grapes']

In [36]:
'mango' in fruits # membership operator

True

In [34]:
'avacado' in fruits

False

input and output

syntax

`var = input('prompt')`

`num = int(input('prompt'))`

In [40]:
p = int(input('Principal: '))
r = float(input('Rate: '))
t = int(input('Time: '))
si = p * r * t / 100
print('principal', p)
print('rate', r)
print('time', t)
print('simple interest', si)
print('amount', si + p)

principal 300000
rate 1.234
time 10
simple interest 37020.0
amount 337020.0

In [ ]:
fav_city = input('Favourite city: ')
print('Your favourite city is', fav_city)