## String
- create
- indexing & access
- slicing
- most useful methods

In [8]:
a = 'apple' # single quotes
b = "applejuice" # double quotes
c = '''this is
an example''' # triple quotes

- string is immutable
- string is iterable
- string is indexed

`iterable - something that has multiple elements and can be looped over`

In [11]:
print(a[0])
print(a[1])
print(a[-1])
print(a[-2]) # second last character

a
p
e
l

slicing
`str[start:stop:step]`

In [28]:
name = "Vijay Deenanath Chauhan"
print(name[6:15])
print(name[0:5])
print(name[-7:23])
print(name[:5]) # start to 5 index
print(name[-7:]) # -7 index to end
print(name[:]) # start to end
print(name[:15:2]) # start to 15 index with step 2
print(name[::2]) # start to end with step 2
print(name[::-1]) # reverse the string

Deenanath
Vijay
Chauhan
Vijay
Chauhan
Vijay Deenanath Chauhan
VjyDeaah
VjyDeaahCahn
nahuahC htananeeD yajiV

In [30]:
name[:][::-1][:5]

'nahua'

In [42]:
fname = "Bruce"
lname = "Wayne"
fname + ' ' + lname # concatenation

'Bruce Wayne'

In [40]:
'üèÅ' * 10 # repetition

'üèÅüèÅüèÅüèÅüèÅüèÅüèÅüèÅüèÅüèÅ'

string methods

In [47]:
a.capitalize()

'Apple'

find and replace

In [60]:
sentence = 'The king went to the jungle'
print(sentence.find('king'))
print(sentence.find('queen')) # -1 if not found
print(sentence.find('in'))

print(sentence.replace('king', 'queen'))
print(sentence.replace('jungle', 'castle'))
sentence2 = sentence.replace('king','queen').replace('jungle','castle')
print(sentence2)

4
-1
5
The queen went to the jungle
The king went to the castle
The queen went to the castle

In [63]:
sentence.replace('e', 'o')

'Tho king wont to tho junglo'

split and join

In [64]:
sentence.split()

['The', 'king', 'went', 'to', 'the', 'jungle']

In [66]:
s3 = 'Apple,Banana,Orange,Mango'
s3.split(',')

['Apple', 'Banana', 'Orange', 'Mango']

In [71]:
poem = '''
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
'''

print(poem.splitlines()) # better than split('\n')
print(poem.split())
print(poem.split(','))

['', 'Twinkle, twinkle, little star,', 'How I wonder what you are!', 'Up above the world so high,', 'Like a diamond in the sky.']
['Twinkle,', 'twinkle,', 'little', 'star,', 'How', 'I', 'wonder', 'what', 'you', 'are!', 'Up', 'above', 'the', 'world', 'so', 'high,', 'Like', 'a', 'diamond', 'in', 'the', 'sky.']
['\nTwinkle', ' twinkle', ' little star', '\nHow I wonder what you are!\nUp above the world so high', '\nLike a diamond in the sky.\n']

In [81]:
path = ['C:','home', 'user', 'documents', 'file.txt']

print(" ".join(path))
print("/".join(path))
print(",".join(path))
print("".join(path))
print("üòñ".join(path))

C: home user documents file.txt
C:/home/user/documents/file.txt
C:,home,user,documents,file.txt
C:homeuserdocumentsfile.txt
C:üòñhomeüòñuserüòñdocumentsüòñfile.txt