## String
- create
- indexing & access
- slicing
- most useful methods

In [ ]:
a = 'apple' # single quotes
b = "applejuice" # double quotes
c = '''this is
an example''' # triple quotes

- string is immutable
- string is iterable
- string is indexed

`iterable - something that has multiple elements and can be looped over`

In [ ]:
print(a[0])
print(a[1])
print(a[-1])
print(a[-2]) # second last character

slicing
`str[start:stop:step]`

In [ ]:
name = "Vijay Deenanath Chauhan"
print(name[6:15])
print(name[0:5])
print(name[-7:23])
print(name[:5]) # start to 5 index
print(name[-7:]) # -7 index to end
print(name[:]) # start to end
print(name[:15:2]) # start to 15 index with step 2
print(name[::2]) # start to end with step 2
print(name[::-1]) # reverse the string

In [ ]:
name[:][::-1][:5]

In [ ]:
fname = "Bruce"
lname = "Wayne"
fname + ' ' + lname # concatenation

In [ ]:
'üèÅ' * 10 # repetition

string methods

In [ ]:
a.capitalize()

find and replace

In [ ]:
sentence = 'The king went to the jungle'
print(sentence.find('king'))
print(sentence.find('queen')) # -1 if not found
print(sentence.find('in'))

print(sentence.replace('king', 'queen'))
print(sentence.replace('jungle', 'castle'))
sentence2 = sentence.replace('king','queen').replace('jungle','castle')
print(sentence2)

In [ ]:
sentence.replace('e', 'o')

split and join

In [ ]:
sentence.split()

In [ ]:
s3 = 'Apple,Banana,Orange,Mango'
s3.split(',')

In [ ]:
poem = '''
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
'''

print(poem.splitlines()) # better than split('\n')
print(poem.split())
print(poem.split(','))

In [ ]:
path = ['C:','home', 'user', 'documents', 'file.txt']

print(" ".join(path))
print("/".join(path))
print(",".join(path))
print("".join(path))
print("üòñ".join(path))

count, startswith and endswith

In [ ]:
story = 'Once there was a king. He was very powerful. He had a beautiful queen.'
story.count('queen')

In [ ]:
import os

content = os.listdir('C:/users/zaid/Downloads')
print(content)

In [ ]:
for item in content:
    if item.endswith('jpg'):
        print(item)

In [ ]:
word = "Excellent"
print(word.startswith('Ex'))
print(word.startswith('En'))